* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.wrap {
  /* visibility: hidden; */
  width: 100%;
  margin-inline: auto;
  position: relative;
  padding-inline: 1rem;
}

.front {
  min-height: 100vh;
  padding-top: 1rem;
  position: relative;
}
.front-wrap {
  position: relative;
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
}
.button a {
  width: 30px;
  height: 40px;
  display: inline-block;
}
.kugel-rotate .snow-ball {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: snowball 2s linear infinite;
}
@keyframes snowball {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.wrap-opencart {
  max-width: 1400px;
  margin-inline: auto;
  position: relative;
}

.back {
  min-height: 100vh;
}
.back__left {
  align-self: top;
  margin-bottom: 50px;
}

@media screen and (min-width: 740px) {
  .front {
    max-width: 740px;
    margin-inline: auto;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .back {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
  }
}
